section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  height: 550px;
  background-color: rgb(255, 111, 0);
  border-radius: 40px;
}
.logo {
  position: absolute;
  bottom: 20px;
  right: 65%;
  z-index: 10;
}
.arrowRight,
.arrowLeft {
  color: rgb(255, 231, 215);
  background-color: rgba(238, 174, 125, 0.705);
  padding: 10px;
  width: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
}
.arrowRight {
  right: 120px;
  bottom: 50px;
}
.arrowLeft {
  right: 40px;
  bottom: 50px;
}

/*.arrowLeft img {
  right: 10px;
  margin: 10px 30px;
  bottom: 20px;
}
.arrowRight img {
  right: 90px;
  margin: 10px 30px;
  bottom: 20px;
}*/
.questions {
  display: inline-flex;
  align-self: stretch;
  justify-content: start;
  transition: all 500ms;
}

.question {
  width: 900px;
  height: 550px;
  border: 1px solid green;
}

.option > img {
  width: 30px;
  height: 30px;
  border-radius: 99px;
}

.options_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 25px;
  top: 10%;
  padding: 30px;
}

.question > h3 {
  color: rgb(255, 231, 215);
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  padding-top: 40px;
}

.option > h4 {
  color: rgb(94, 38, 0);
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  padding: 10px;
  display: flex;
  text-align: center;
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:checked + img {
  border: 2px solid rgb(0, 0, 0);
}

label:has(> input[type="radio"]:checked) {
  background-color: goldZ;
}
#q5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
#q5 > img {
  width: 400px;
  height: 200px;
}
#q5 > p {
  color: rgb(94, 38, 0);
  font-size: 25px;
  text-align: center;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  padding: 15px;
}
